################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/UmrechnungsTaschenrechner/.vs/UmrechnungsTaschenrechner/v16/Server/sqlite3
/UmrechnungsTeschenrechner/.vs/UmrechnungsTeschenrechner/v16/Server/sqlite3
/UmrechnungsTaschenrechner/UmrechnungsTaschenrechner/obj
/UmrechnungsTaschenrechner/UmrechnungsTaschenrechner/bin/Debug/netcoreapp2.2
/UmrechnungsTaschenrechner/UmrechnungsTaschenrechner/bin
/UmrechnungsTaschenrechner/ZSR-Frontend/bin/Debug
/UmrechnungsTaschenrechner/ZSR-Frontend/bin/Release
/UmrechnungsTaschenrechner/ZSR-Frontend/obj
/UmrechnungsTaschenrechner/ZSR-Frontend/Packages
